*.png
/cod/*.png
tema1.pdf
*.jpg
!/cod/hexagon_dist_standing_john_100.jpg
cod/.ipynb_checkpoints/
cod/Untitled.ipynb
cod/pdfimg/

!cod/hexagon_dist_standing_john_100.png
!cod/hexagon_dist_ferrari_100.png

